/**
 * COMMUNITY LAUNCH PAD
 *
 * Summary:
 *
 *    0. Fonts
 *    1. General Styles
 *    2. Header
 *        - 2.1. Left Panel Toggle Button
 *        - 2.2. About Button
 *    3. Left Panel
 *        - 3.1. Accordion Headings
 *        - 3.2. Accordion Body Elements
 *        - 3.3. Informations Panels
 *        - 3.4. No Files Disclaimer
 *    4. Content Panel
 *    5. About Modal
 *        - 5.1. Overlay
 *        - 5.2. Modal
 *        - 5.3. Content
 *        - 5.4. Proceed Button
 */

/* ==========================================================================
  0. Fonts
  ========================================================================== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype'),
  url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensans-light.eot');
  src: url('../fonts/opensans-light.eot') format('embedded-opentype'),
  url('../fonts/opensans-light.woff') format('woff'),
  url('../fonts/opensans-light.ttf') format('truetype'),
  url('../fonts/opensans-light.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
  url('../fonts/opensans-bold.woff') format('woff'),
  url('../fonts/opensans-bold.ttf') format('truetype'),
  url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}


/* ==========================================================================
  1. General Styles
  ========================================================================== */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-y: auto;
}

.WDHidden {
  display: none;
}


/* ==========================================================================
  2. Header
  ========================================================================== */

.topSectionCss {
  height: 51px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1002;
  min-width: 1200px;
}

.topSectionRow {
  background: #DCE7ED;
  height: 51px;
  border-bottom: 1px solid #BFDCE5;
}


/* 2.1. Left Panel Toggle Button
  ========================================================================== */

.drawerButton > button,
.drawerButton.expanded > button,
.drawerButton.expanded > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,
.drawerButton.expanded > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover,
.drawerButton.collapsed > button,
.drawerButton.collapsed > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,
.drawerButton.collapsed > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
  background: none;
  border: 0 none;
  outline: 0 none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  height: 50px;
  padding-left: 60px;
  color: #26363D;
  line-height: 30px;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  padding: 9px 10px 11px 60px;
}

.drawerButton > button:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 50px;
  content: '';
}

.drawerButton.expanded > button:after,
.drawerButton.expanded > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.svg') no-repeat left center;
}

.no-svg .drawerButton.expanded > button:after,
.no-svg .drawerButton.expanded > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.png') no-repeat left center;
}

.drawerButton.expanded > button:hover:after,
.drawerButton.expanded > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.svg') no-repeat left center;
}

.no-svg .drawerButton.expanded > button:hover:after,
.no-svg .drawerButton.expanded > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.png') no-repeat left center;
}

.drawerButton.collapsed > button:after,
.drawerButton.collapsed > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.svg') no-repeat right center;
}

.no-svg .drawerButton.collapsed > button:after,
.no-svg .drawerButton.collapsed > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.png') no-repeat right center;
}

.drawerButton.collapsed > button:hover:after,
.drawerButton.collapsed > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.svg') no-repeat right center;
}

.no-svg .drawerButton.collapsed > button:hover:after,
.no-svg .drawerButton.collapsed > button.buttonComponent.enabled.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover:after {
  background: transparent url('/pentaho/api/repos/CLP/static/custom/img/clp_menu.png') no-repeat right center;
}


/* 2.2. About Button
  ========================================================================== */

.aboutClass {
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  width: 40px;
  float: right;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.aboutClass a,
.aboutClass a:link,
.aboutClass a:visited,
.aboutClass a:hover,
.aboutClass a:active,
.aboutClass a:focus {
  color: #1973BC;
  font-weight: 300;
  outline: 0 none;
}

.aboutClass a:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* ==========================================================================
  3. Left Panel
  ========================================================================== */

.selectionPane {
  background-color: #F2F6F7;
  border-right: 1px solid #BFDCE5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  height: 100%;
  left: 0;
  padding-top: 51px;
  position: fixed;
  top: 0;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  width: 300px;
  z-index: 1001;
}

.selectionPane.collapsed {
  left: -300px;
}

.selectionPaneRow {  
  overflow-y: auto;
  height: 100%;
}


/* 3.1. Accordion Headings
  ========================================================================== */

.selectionObj {
  margin-left: -15px;
  margin-right: -15px;
}

.accordion-group {  
  border-bottom: 1px solid #BFDCE5;
}

.accordion-group.active:first-child,
.accordion-group.active + .accordion-group.active {  
  border-top: 0 none;
}

.accordion-toggle,
.accordion-toggle:link,
.accordion-toggle:visited,
.accordion-toggle:hover,
.accordion-toggle:active,
.accordion-toggle:focus {
  color: #26363D;
  display: block;
  font-weight: 600;
  line-height: 22px;
  outline: 0 none;
  padding: 12px 50px 12px 40px;
  position: relative;
  text-decoration: none;
}

.active .accordion-toggle {
  background: #FFFFFF;
}

.accordion-toggle:hover,
.accordion-toggle:active {
  background: #DCE7ED;
}

.accordion-toggle:before {
  background-image: url(/pentaho/api/repos/CLP/static/custom/img/clp_expand_collapse.svg);
  background-repeat: no-repeat;
  background-position: left center;
  bottom: 0;
  content: '';
  height: 24px;
  left: 15px;
  margin: auto 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.no-svg .accordion-toggle:before {
  background-image: url(/pentaho/api/repos/CLP/static/custom/img/clp_expand_collapse.png);
}

.active .accordion-toggle:before,
.no-svg .active .accordion-toggle:before {
  background-position: right center;
}

.accordion-heading {
  position: relative;
}

.accordion-heading .infoButton {
  width: 44px;
  height: 100%;
  float: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #F2f6f7 url(/pentaho/api/repos/CLP/static/custom/img/information.svg) no-repeat left center;
}

.no-svg .accordion-heading .infoButton {
  background: #F2f6f7 url(/pentaho/api/repos/CLP/static/custom/img/information.png) no-repeat left center;
}

.active .accordion-heading .infoButton {
  background-color: #FFF;
}

.accordion-heading .infoButton:hover,
.accordion-heading.info-opened .infoButton {
  background: #DAE7ED url(/pentaho/api/repos/CLP/static/custom/img/information.svg) no-repeat right center;
}

.no-svg .accordion-heading .infoButton:hover,
.no-svg .accordion-heading.info-opened .infoButton {
  background: #DAE7ED url(/pentaho/api/repos/CLP/static/custom/img/information.png) no-repeat right center;
}


/* 3.2. Accordion Body Elements
  ========================================================================== */

.accordion-body {  
  background: #FFF;
}

.accordion-inner {
  font-weight: 300;
  position: relative;
}

.accordion-inner a,
.accordion-inner a:link,
.accordion-inner a:visited,
.accordion-inner a:hover,
.accordion-inner a:active,
.accordion-inner a:focus {
  color: #26363D;
  display: block;
  line-height: 22px;
  padding: 12px 50px 12px 40px;
  outline: 0 none;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion-inner .infoButton {
  background: #FFFFFF url(/pentaho/api/repos/CLP/static/custom/img/information.svg) no-repeat left center;
  cursor: pointer;
  display: block;
  float: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}

.no-svg .accordion-inner .infoButton {
  background: #FFFFFF url(/pentaho/api/repos/CLP/static/custom/img/information.png) no-repeat left center;
}

.accordion-inner .infoButton:hover,
.accordion-inner.info-opened .infoButton {
  background: #DAE7ED url(/pentaho/api/repos/CLP/static/custom/img/information.svg) no-repeat right center;
}

.no-svg .accordion-inner .infoButton:hover,
.no-svg .accordion-inner.info-opened .infoButton {
  background: #DAE7ED url(/pentaho/api/repos/CLP/static/custom/img/information.png) no-repeat right center;
}

.accordion-inner a:hover {
  background: #DAE7ED;
}

.accordion-inner.active a {
  background: #DAE7ED;
}


/* 3.3. Informations Panels
  ========================================================================== */

.selectionPaneInfo {
  background: #FFFFFF;
  border-right: 1px solid #BFDCE5;
  cursor: pointer;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 51px;
  position: fixed;
  top: 0;
  width: 250px;
}

.selectionPaneInfo:after {
  background-image: url(/pentaho/api/repos/CLP/static/custom/img/close.svg);
  background-position: left center;
  background-repeat: no-repeat;
  content: '';
  height: 44px;
  position: absolute;
  right: 0px;
  top: 51px;
  width: 44px;
}

.no-svg .selectionPaneInfo:after {
  background-image: url(/pentaho/api/repos/CLP/static/custom/img/close.png);
}

.selectionPaneInfo:hover:after {
  background-color: #DCE7ED;
  background-position: right center;
}

.selectionPaneInfo.collapsedInfo {
  left: -300px;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.selectionPaneInfo.expandedInfo {
  left: 300px;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  z-index: 999;
}

.selectionItemName {
  font-size: 22px;
  margin-left: 15px;
  margin-top: 50px;
  font-weight: 300;
}

.selectionInfo {
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
  margin-top: 20px;
  padding-right: 10px;
}


/* 3.4. No Files Disclaimer
  ========================================================================== */

.errorMessage {
  padding: 30px 20px 20px;
  font-size: 14px;
  color: #AAA;
  text-align: center;
}


/* ==========================================================================
  4. Content Panel
  ========================================================================== */

.clpWrapper {
  -webkit-transition: padding-left .5s ease-in-out;
  -moz-transition: padding-left .5s ease-in-out;
  -ms-transition: padding-left .5s ease-in-out;
  -o-transition: padding-left .5s ease-in-out;
  transition: padding-left .5s ease-in-out;
  padding-left: 300px;
  min-width: 1200px;
}

.contentPane {
  padding-top: 70px;
  position: relative;
  top: 0px;
  width: 100%;
}

.h_iframe {
  height: 100%;
}

.visualizationPane {
  height: 900px;
  padding-left: 20px;
  padding-right: 20px;
}


/* ==========================================================================
  5. About Modal
  ========================================================================== */


/* 5.1. Overlay
  ========================================================================== */

.ui-widget-overlay.ui-front {
  background: #144b64;
  opacity: .9;
  filter: Alpha(Opacity=90);
  z-index: 1003;
}


/* 5.2. Modal
  ========================================================================== */

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Open Sans', Arial, sans-serif;
  outline: 0 none;
}

.ui-dialog.ui-widget.ui-widget-content {
  background: #F5F6F8;
  border-radius: 0;
  border: 1px solid #CBDDE8;
  padding: 15px;
  z-index: 1004;
}


/* 5.3. Content
  ========================================================================== */

.overlayMessage.ui-dialog-content.ui-widget-content {
  background: #F5F6F8;
  border: none;
  color: #26363D;
  overflow: hidden;
  padding: 0 0 15px 0;
  height: auto !important;
}

.overlayHeader {
  font-size: 16px;
  color: #1973BC;
  margin-bottom: 15px;
}

.overlayMessage {
  font-size: 14px;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  display: none;
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
  border: none;
}


/* 5.3. Proceed Button
  ========================================================================== */

.ui-dialog-buttonpane.ui-widget-content {
  background: #F5F6F8;
  margin: 0;
  padding: 0;
  border: 0 none;
  text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  margin: 0 auto;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
  background: #007297;
  background: -moz-linear-gradient(top, #007297 57%, #005f7d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#007297), color-stop(100%,#005f7d));
  background: -webkit-linear-gradient(top, #007297 57%,#005f7d 100%);
  background: -o-linear-gradient(top, #007297 57%,#005f7d 100%);
  background: -ms-linear-gradient(top, #007297 57%,#005f7d 100%);
  background: linear-gradient(to bottom, #007297 57%,#005f7d 100%);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  padding: 4px 14px 6px 14px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0px solid #333;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
}

.ui-button-text-only .ui-button-text {
  padding: 0;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover {    
  -moz-box-shadow: inset 0 0 1px #FFF;
  -webkit-box-shadow: inset 0 0 1px #FFF;
  box-shadow: inset 0 0 1px #FFF;
  background: #0085b0;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active {    
    background: #8ac06e;
    background: -moz-linear-gradient(top, #8ac06e 0%, #62ab3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac06e), color-stop(100%,#62ab3d));
    background: -webkit-linear-gradient(top, #8ac06e 0%,#62ab3d 100%);
    background: -o-linear-gradient(top, #8ac06e 0%,#62ab3d 100%);
    background: -ms-linear-gradient(top, #8ac06e 0%,#62ab3d 100%);
    background: linear-gradient(to bottom, #8ac06e 0%,#62ab3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac06e', endColorstr='#62ab3d',GradientType=0 );
    color: #293b44;
}