<?xml version="1.0" encoding="UTF-8"?>
<plugin title="CLP" loader="DEFAULT">
<overlays>
		<overlay id="startup.CLP" resourcebundle="content/CLP/resources/lang/messages">
			<menubar id="toolsmenu">
	        	<menuitem id="CLP" label="${Launcher.CLP}" command="mantleXulHandler.openUrl('${Launcher.CLP}','${Launcher.CLP_TOOLTIP}','plugin/CLP/api/default')"/>
	      	</menubar>
	    </overlay>
	</overlays>
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/CLP/static" localFolder="static"/>
		<static-path url="/CLP/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>CLP</title>
			<description></description>
			<company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="CLP"
		title="CLP"
		type="CLP"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<!-- Menu entry -->
	<menu-items>
		<!--<menu-item id="CLP_main" anchor="tools-submenu" label="CLP" command="content/CLP/" type="MENU_ITEM" how="LAST_CHILD"/>-->
	</menu-items>
</plugin>
